* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Poppins;
    
}

/*.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/hero-banner.jpg');
    background-size: cover;
    min-height: 75vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/


.navbar{
    background-color: #9BA4B5;
    margin: 0 !important;
    padding: 0 !important;

}

.paddingremover{
    padding: 0 !important;
}

.marginremover{
    margin: 0 !important;
}





